.navbar {
    z-index         : 9999999999999;
    background-color: white;
}

.text-gradient {
    background             : -webkit-linear-gradient(315deg, #100F21, #100F21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    text-decoration: none;
    font-size      : 1.5rem;
    padding        : 5px 20px;
}

.nav-link:focus {
    color: #f8830e !important;
}

.first-Letter {
    color: #100F21;
}

.Download-CV button {
    border    : solid 2px #100F21;
    color     : #3e6a77;
    background: transparent;
    ;
}

.Download-CV button:hover {
    
    color     : white;
    transition: .4s;
}